@import "./../core/settings";

$srms: (
        0:  #FFF4D4,
        1:  #FFE699,
        2:  #FFD878,
        3:  #FFCA5A,
        4:  #FFBF42,
        5:  #FBB123,
        6:  #F8A600,
        7:  #F39C00,
        8:  #EA8F00,
        9:  #E58500,
        10: #DE7C00,
        11: #D77200,
        12: #CF6900,
        13: #CB6200,
        14: #C35900,
        15: #BB5100,
        16: #B54C00,
        17: #B04500,
        18: #A63E00,
        19: #A13700,
        20: #9B3200,
        21: #952D00,
        22: #8E2900,
        23: #882300,
        24: #821E00,
        25: #7B1A00,
        26: #771900,
        27: #701400,
        28: #6A0E00,
        29: #660D00,
        30: #600903,
        31: #5E0B00,
        32: #5A0A02,
        33: #520907,
        34: #4C0505,
        35: #470606,
        36: #420607,
        37: #3D0708,
        38: #370607,
        39: #2D0607,
        40: #1F0506,
        41: #000000
);

@each $num, $color in $srms {
    [data-srm="#{$num}"].srm-background, .srm_#{$num}:before {
        background-color: $color !important;
        color: color-contrast($color, $color-richblack, $color-ghost-white);
    }

    [data-srm="#{$num}"].srm-border {
        border-color: $color !important;
    }
    [data-srm="#{$num}"].srm-shadow {
        box-shadow: 0 0 1rem $color !important;
    }
}


